Mes utilisateurs sont :

{% for utilisateur in utilisateurs %}

{{ utilisateur.nom }}
{{ utilisateur.groupe }}

{% endfor %}

{% for item in utilisateurs %}

{{ item.nom }}
{{ item.groupe }}

{% endfor %}

